.content h2,.clubhouse h2{
	font-size: 20px;
	line-height: 22px;
	color: rgb(204, 42, 30);
	font-weight: bold;
	margin: 0 0 25px 0;	
}
a:hover{text-decoration: none;}
.content h2 span,.clubhouse h2 span{
	font-family: arial;
	color: rgb(51, 51, 51);
	font-size: 26px;
	line-height: 28px;
	font-weight: normal;
	display: block;
}
.content h2 span{	
	color: #ffffff;
}
.content h2{
	color: #CEA533;
}
.content h2 b,.clubhouse h2 b{
	display: block;
    margin: 12px auto;
    width: 27px;
    height: 3px;
    background: #cac3b7;
}
.content h2 b{
	background: #343434;
}
.clubhouse{
	background: url(../images/bg3.jpg) no-repeat center top;
	background-size:100% 100%;
	padding: 50px 0;
}
.clubhouse .box{
	margin-top: 30px;
}
.clubhouse .btn,.content .btn{
	width: 160px;
	height: 40px;
	border: 1px solid #E1D3B9;
	padding: 0;
	text-align: center;
	line-height: 38px;
	background: #F8ECD5;
	margin-top: 10px;
	color: #B6880A;
}
.content .btn{
	background: #761611;
	color: #ffffff;
	border: none;
}
.content .btn:hover{
	background: #CC2A1E;
	transition: .2s;
}
.clubhouse .btn:hover{
	background: #B6880A;
	transition: .2s;
	color: #ffffff;
}
.clubhouse img{
	border: 2px solid #CEA533;
}
.clubhouse .pic{
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
}
.clubhouse .pic img{
	width: 100%;
}
.clubhouse .pic:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url(../images/pic.png) no-repeat center top;
	background-size: 100% 100%;
	z-index: 2;
	height: 100%;
}
.clubhouse .textbox{
	width: 280px;
	height: 55px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -27px;
	margin-left: -140px;
	background: rgba(0,0,0,0.3);
	z-index: 10;
}
.clubhouse .textbox h4{
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin: 5px 0 0 0;
}
.clubhouse .textbox p{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #CDC8C6;
}
.clubhouse .pic:hover .textbox{
	background: rgba(206,165,51,0.7);
	transition: .2s;
}
.clubhouse .pic:hover:before{
	background: url(../images/bg1.png) no-repeat center top,rgba(0,0,0,0.4);
	background-size: 100% 100%;
	transition: .2s;
}
.clubhouse .pic:hover img{
	border: 2px solid #CC2A1E;
	transition: .2s;
}
.tr{transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s}
.main-pad-1{ padding:50px 0;}
.main-Background-2{ background:url(../images/bg4.jpg) 50% 50%; background-size: cover;}
background:-moz-linear-gradient(left,rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%);background:-webkit-linear-gradient(left,rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%);background:linear-gradient(to right,rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000',endColorstr='#8c000000',GradientType=1 ); }
.pictrue-2{ position: relative; margin:0 -10px; }
.pictrue-2 .item{ position:relative; padding: 0 59px; margin-bottom: 20px; }
.pictrue-2 .item:after{ content: ""; position: absolute; right: 0; top: 0; z-index: 1; width: 1px; height: 100%; background: #fff;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.2; opacity:0.2; }
.pictrue-2-list a{ position: relative; display:block; height: 400px; background: #cea533; overflow: hidden; }
.pictrue-2-list a img.mb{ max-width: 100%; }
.pictrue-2-list a .imgbox{ position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; }
.pictrue-2-list a .textbox{ position: absolute; left: 0; bottom: -100%; z-index: 2; padding: 25px 35px 0; width: 100%; height: 100%; }
.pictrue-2-list a .textbox img{ max-width: 100%; }
.pictrue-2-list a .textbox h5{ margin:20px 0 10px; font-size:24px; color: #8f2828; font-weight:bold; }
.pictrue-2-list a .textbox p{ margin:0 0 35px; height: 88px; font-size: 12px; color: #fff; line-height: 22px; overflow: hidden; }
.pictrue-2-list a .textbox .more{ margin:0 auto; width: 104px; font-family: arial; font-size: 12px; color: #fff; line-height: 30px; border:solid 1px #fff; }
.pictrue-2.active{ padding: 0 7px; }
.pictrue-2.active .pictrue-2-list{ padding: 0 8px; margin:0 0 20px; }
body.hover .pictrue-2 a:hover .imgbox{filter:alpha(opacity=15);-moz-opacity:0.15;-khtml-opacity:0.15; opacity:0.15;}
body.hover .pictrue-2 a:hover .textbox{ bottom: 0; }
@media (max-width:1349px){
	.pictrue-2{ margin:0 -15px; }
	.pictrue-2 .item{ padding: 0 15px; }
	.pictrue-2 .item:after{ display: none; }
}
@media (max-width:991px){
	.pictrue-2-list a{ height: inherit; }
	.pictrue-2-list a .textbox h5{ margin:0 0 10px; font-size: 20px; line-height: 22px; }
	.pictrue-2 a .imgbox{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5; opacity:0.5;}
	.pictrue-2-list a .textbox{ bottom:50%; height: 120px; padding: 0 15px; margin-bottom: -60px; }	
}